xml/2010_Football_Championship__Min.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://footballpool.dataaccess.eu" name="Info" targetNamespace="http://footballpool.dataaccess.eu">
	<!-- -------------------- -->
	<!--SECTION: types-->
	<!--
	<!--Purpose: Defines some data types used by the web service?
	-->
	<types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://footballpool.dataaccess.eu">
			<!--AllPlayerNames-->
			<xs:element name="AllPlayerNames">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bSelected" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AllPlayerNamesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AllPlayerNamesResult" type="tns:ArrayOftPlayerNames"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--TopSelectedGoalScorers-->
			<xs:element name="TopSelectedGoalScorers">
				<xs:complexType>
				  <xs:sequence>
					<xs:element name="iTopN" type="xs:int"/>
				  </xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TopSelectedGoalScorersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TopSelectedGoalScorersResult" type="tns:ArrayOftTopSelectedGoalScorer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--StadiumNames-->
			<xs:element name="StadiumNames">
				<xs:complexType>
					<xs:sequence/>
				</xs:complexType>
			</xs:element>
			<xs:element name="StadiumNamesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StadiumNamesResult" type="tns:ArrayOfString"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!--StadiumInfo-->
			<xs:element name="StadiumInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sStadiumName" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="tStadiumInfo">
				<xs:sequence>
					<xs:element name="sStadiumName" type="xs:string"/>
					<xs:element name="iSeatsCapacity" type="xs:int"/>
					<xs:element name="sCityName" type="xs:string"/>
					<xs:element name="sWikipediaURL" type="xs:string"/>
					<xs:element name="sGoogleMapsURL" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ArrayOftStadiumInfo">
				<xs:sequence>
					<xs:element name="tStadiumInfo" type="tns:tStadiumInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="StadiumInfoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StadiumInfoResult" type="tns:tStadiumInfo"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<!-- -------------------- -->
	<!--SECTION: unnamed-->
	<!--
	<!--Purpose: ???
	-->
	<!--AllPlayerNames-->
	<message name="AllPlayerNamesSoapRequest">
		<part name="parameters" element="tns:AllPlayerNames"/>
	</message>
	<message name="AllPlayerNamesSoapResponse">
		<part name="parameters" element="tns:AllPlayerNamesResponse"/>
	</message>
	<!--TopSelectedGoalScorers-->
	<message name="TopSelectedGoalScorersSoapRequest">
		<part name="parameters" element="tns:TopSelectedGoalScorers"/>
	</message>
	<message name="TopSelectedGoalScorersSoapResponse">
		<part name="parameters" element="tns:TopSelectedGoalScorersResponse"/>
	</message>
	<!--StadiumNames-->
	<message name="StadiumNamesSoapRequest">
		<part name="parameters" element="tns:StadiumNames"/>
	</message>
	<message name="StadiumNamesSoapResponse">
		<part name="parameters" element="tns:StadiumNamesResponse"/>
	</message>
	<!--StadiumInfo-->
	<message name="StadiumInfoSoapRequest">
		<part name="parameters" element="tns:StadiumInfo"/>
	</message>
	<message name="StadiumInfoSoapResponse">
		<part name="parameters" element="tns:StadiumInfoResponse"/>
	</message>
	<!-- -------------------- -->
	<!--SECTION: portType-->
	<!--
	<!--Purpose: ???
	-->
	<portType name="InfoSoapType">
		<!--AllPlayerNames-->
		<operation name="AllPlayerNames">
			<documentation>Returns an array with the id, name, country and flag reference of all players</documentation>
			<input message="tns:AllPlayerNamesSoapRequest"/>
			<output message="tns:AllPlayerNamesSoapResponse"/>
		</operation>
		<!--TopSelectedGoalScorers-->
		<operation name="TopSelectedGoalScorers">
			<documentation>Returns an array with the top N selected goal scorers and how often they are selected. Pass 0 as TopN and you get them all.</documentation>
			<input message="tns:TopSelectedGoalScorersSoapRequest"/>
			<output message="tns:TopSelectedGoalScorersSoapResponse"/>
		</operation>
		<!--StadiumNames-->
		<operation name="StadiumNames">
			<documentation>Returns an array of stadium names where the games are played</documentation>
			<input message="tns:StadiumNamesSoapRequest"/>
			<output message="tns:StadiumNamesSoapResponse"/>
		</operation>
		<!--StadiumInfo-->
		<operation name="StadiumInfo">
			<documentation>Returns the information we keep about a particular stadium, Pass the name of the stadium</documentation>
			<input message="tns:StadiumInfoSoapRequest"/>
			<output message="tns:StadiumInfoSoapResponse"/>
		</operation>
	</portType>
	<!-- -------------------- -->
	<!--SECTION: binding-->	
	<!--
	<!--Purpose: ???
	-->	
	<binding name="InfoSoapBinding" type="tns:InfoSoapType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!--AllPlayerNames-->
		<operation name="AllPlayerNames">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<!--TopSelectedGoalScorers-->
		<operation name="TopSelectedGoalScorers">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<!--StadiumNames-->
		<operation name="StadiumNames">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<!--StadiumInfo-->
		<operation name="StadiumInfo">
			<soap:operation soapAction="" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<!-- -------------------- -->
	<!--SECTION: ???-->	
	<!--
	<!--Purpose: ???
	-->
	<service name="Info">
		<documentation>This Visual DataFlex Web Service exposes functions for the current football pool</documentation>
		<port name="InfoSoap" binding="tns:InfoSoapBinding">
			<soap:address location="http://footballpool.dataaccess.eu/data/info.wso"/>
		</port>
	</service>
</definitions>